/* body{
    margin: 0;
}


header{
    background-color: #48A969 ;
    height: 10vh;
    display: flex;
    justify-content: right;
    align-items: center;
}

.app1{
    color: white;
    margin: 3%;
}

.app2{
    color:white;
    margin: 3%;
} */

/* footer{
    /* background-color: #48A969 ; */
    /* color: black;
    height: 4vh;
    text-align: center;
    font-size: 10px;
} */ 

/* .under-tag{
    background-color: #48A969;
    display: flex;
    justify-content: space-between;
    height: 13vh;
    position: fixed;
    bottom: 0%;
    width: 100%;
}

img{
    width: 7vh;
    height: 7vh;
    padding: 15px;
}

.writing{
    margin-top: 10%;
}
 */

/* index.blade.php */

